/*Contenedor del formulario*/

#container {
    position: absolute;
    height: 85%;
    width: 40%;
}


/*Div para subir la carcasa personalizada*/

#customize {
    position: absolute;
    height: 470px;
    width: 226px;
    border: none;
    display: flex;
    border-radius: 30px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    top: 80px;
    left: 50px;
    z-index: 0;
    align-content: center;
    align-self: center;
}

#customize>div {
    position: absolute;
    top: -10px;
    left: -10px;
}


/*Botón para subir la imagen*/

#upload {
    position: absolute;
    left: 60px;
    top: 610px;
}


/*Etiqueta del botón*/

label {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 60px;
    top: 580px;
}


/*Botón para eliminar la imagen*/

.delPhoto {
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    left: 210px;
    top: -5px;
    z-index: 10;
    cursor: pointer;
    border: none;
}


/*Botón para guardar la imagen*/

input[type="submit"] {
    position: absolute;
    left: 60px;
    top: 640px;
}

.notBlock {
    display: none !important;
}